@font-face {
  font-family: "Permanent Marker";
  font-display: swap;
  src: url("/fonts/PermanentMarker-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  line-gap-override: 0%;
}

:root {
  /* Color Variables */
  --color-primary-purple: #7812de; /* RGB: 120, 18, 222 */
  --color-primary-purple-dark: #962eff; /* RGB: 150, 46, 255 */
  --color-primary-blue: #576bc9; /* RGB: 87, 107, 201 */
  --color-secondary-orange: #ffbd12; /* RGB: 255, 189, 18 */
  --color-secondary-red: #fa6647; /* RGB: 250, 102, 71 */
  --color-secondary-red-dark: #f592b; /* RGB: 250, 89, 43 */
  --color-neutral-white: #ffffff; /* RGB: 255, 255, 255 */
  --color-neutral-black: #1c1c1c; /* RGB: 28, 28, 28 */
  --color-neutral-gray: #c4c4c4; /* RGB: 196, 196, 196 */
  --color-neutral-dark-gray: #0f2621; /* RGB: 15, 38, 33 */
  --color-neutral-brown: #474a57; /* RGB: 71, 74, 87 */
  --color-neutral-teal: #1cdbc4; /* RGB: 28, 219, 196 */
  --color-neutral-yellow: #ff0bd; /* RGB: 255, 176, 189 */

  /* Font Variables */
  --font-family-montserrat: "Montserrat", sans-serif;
  --font-family-permanent-marker: "Permanent Marker", cursive, serif;
  --font-weight-regular: 400; /* 16x usage */
  --font-weight-bold: 700; /* 32x usage */
  --font-weight-medium: 500; /* 30x usage */
  --font-weight-black: 900; /* 13x usage */
  --font-weight-semibold: 600; /* 4x usage */
  --font-weight-regular-pm: 400; /* 6x usage */
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: var(--font-size-base);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* section__button */
.section__buttons {
  display: flex;
  gap: 1rem;
}

.section__button {
  clip-path: polygon(
    22% 6%,
    68% 4%,
    100% 0,
    100% 100%,
    62% 93%,
    22% 95%,
    0 97%,
    0 3%
  );
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid var(--color-neutral-black);
}

.section__button-text {
  font-family: var(--font-family-montserrat);
  font-weight: 900;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}
/* /section__button */

.header__logo,
.footer__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.container {
  width: clamp(85%, 60vw, 95%);
  margin: 0 auto;
}

/* /header */
.header {
  background-color: var(--color-primary-purple);
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__logo,
.footer__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.burger-container {
  position: relative;
  background-color: var(--color-neutral-white);
  padding: 0.5rem;
  border-radius: 54% 46% 59% 41% / 43% 51% 49% 57%;
}

/* Hide checkbox */
#burger-toggle {
  display: none;
}

.burger {
  width: 15px;
  height: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.burger-line,
.burger::before,
.burger::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--color-neutral-black);
  position: absolute;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.burger-line {
  top: 50%;
  transform: translateY(-50%);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

/* Animate into X */
#burger-toggle:checked + .burger .burger-line {
  background-color: transparent;
}

#burger-toggle:checked + .burger::before {
  transform: rotate(45deg);
  top: 50%;
}

#burger-toggle:checked + .burger::after {
  transform: rotate(-45deg);
  bottom: 50%;
}

/* Menu */
.header__menu {
  position: absolute;
  margin-top: 1rem;
  right: 0;
  background: var(--color-neutral-white);
  border-radius: 1rem;
  box-shadow: 0 8px 32px var(--color-neutral-black),
    0 1.5px 6px var(--color-neutral-brown);
  padding: 1.5rem 2rem;
  min-width: 220px;
  z-index: 100;
  opacity: 0;
  transform: translateY(-20px) scale(0.98);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
  display: block;
}

#burger-toggle:checked ~ .header__menu {
  opacity: 1;
  transform: translateY(0) scale(1);
  visibility: visible;
  pointer-events: auto;
}

.header__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__menu-item {
  margin: 0.5rem 0;
  transition: background 0.2s;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.header__menu-item:hover {
  background: var(--color-primary-purple);
}

.header__menu-link {
  text-decoration: none;
  color: var(--color-primary-purple);
  font-size: 1.1rem;
  font-family: var(--font-family-montserrat);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.02em;
  padding: 0.3rem 0.7rem;
  border-radius: 0.4rem;
  transition: color 0.2s, background 0.2s;
  display: block;
}

.header__menu-item:hover .header__menu-link {
  color: var(--color-neutral-white);
}
/* /header */

/* main */
/* /main */

/* hero */
.hero {
  background-color: var(--color-primary-purple);
  padding: 0 0 4rem 0;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero__texts {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.hero__title {
  font-family: var(--font-family-permanent-marker);
  font-weight: 400;
  font-size: clamp(3rem, 5vw, 4.375rem);
  line-height: 110%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-white);
}

.hero__description {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-white);
}

.hero__button {
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-black);
}

.hero__button:hover {
  background-color: var(--color-primary-purple-dark);
  color: var(--color-neutral-white);
}

.hero__img {
  width: 100%;
  max-width: 40rem;
}

@media screen and (max-width: 1040px) {
  .hero {
    padding: 0 0 2rem 0;
  }

  .hero .container {
    flex-direction: column-reverse;
  }

  .hero__title {
    text-align: center;
  }

  .section__buttons {
    width: 100%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 576px) {
  .hero__button {
    padding: 0.5rem;
  }
}
/* /hero */

/* about */
.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.about__title {
  font-family: var(--font-family-permanent-marker);
  font-weight: 400;
  font-size: clamp(1.7rem, 5vw, 2.875rem);
  line-height: 110%;
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.about__description {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: clamp(1rem, 4vw, 1.125rem);
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 31rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}
.swiper {
  width: 100%;
}

.swiper-wrapper {
  margin-bottom: 3rem;
}

.swiper-pagination span {
  background-color: var(--color-secondary-orange);
  border: 3px solid var(--color-neutral-black);
  padding: 0.5rem;
}

.swiper-slide {
  background-color: var(--color-secondary-red);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.swiper-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.swiper-title {
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.swiper-description {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 576px) {
  .swiper-container {
    padding: 0 1rem;
  }
}
/* /about */

/* newsletter */
.newsletter {
  background-color: var(--color-primary-purple);
  padding: 3rem 0;
}

.newsletter .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.newsletter__texts {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.newsletter__title {
  font-family: var(--font-family-permanent-marker);
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 2.875rem);
  line-height: 105%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-white);
}

.newsletter__description {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: clamp(0.875rem, 5vw, 1.125rem);
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-white);
}

.newsletter__form {
  display: flex;
  gap: 1rem;
}

.newsletter__input {
  padding: 0.5rem 1rem;
}

.newsletter__input,
.newsletter__input::placeholder {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-black);
}

.newsletter__button {
  background-color: var(--color-secondary-orange);
}

.newsletter__input,
.newsletter__button {
  clip-path: polygon(
    20% 0,
    79% 6%,
    100% 0,
    100% 100%,
    68% 93%,
    26% 94%,
    0 100%,
    0 0
  );
  border-radius: 0.5rem;
}

.newsletter__button {
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.newsletter__button-text {
  white-space: nowrap;
  font-family: var(--font-family-montserrat);
  font-weight: 900;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-neutral-white);
}

.newsletter__img {
  width: 100%;
  max-width: 40rem;
}

@media screen and (max-width: 1040px) {
  .newsletter .container {
    flex-direction: column-reverse;
  }

  .newsletter__img {
    max-width: 30rem;
  }

  .newsletter__form {
    flex-direction: column;
  }
}
/* /newsletter */

/* stories */
.stories {
  padding: 3rem 0;
}

.stories .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.stories__title {
  font-family: var(--font-family-permanent-marker);
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 2.875rem);
  line-height: 110%;
  letter-spacing: 0.02em;
  text-align: center;
}

.stories__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.stories__card {
  max-width: 23.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.stories__card-title {
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  line-height: 150%;
  letter-spacing: 0.02em;
}

.stories__card-description {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: clamp(0.875rem, 5vw, 1.125rem);
  line-height: 150%;
  letter-spacing: 0.02em;
}

.stories__card-date {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: clamp(0.875rem, 5vw, 1.125rem);
  line-height: 145%;
  letter-spacing: 0.02em;
}
/* /stories */

/* plans */
.plans {
  padding: 3rem 0;
}

.plans .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.plans__description {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: clamp(1rem, 5vw, 1.25rem);
  line-height: 145%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-neutral-brown);
}

.plans__title {
  font-family: var(--font-family-permanent-marker);
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 2.875rem);
  line-height: 110%;
  letter-spacing: 0.02em;
  text-align: center;
}

.plans__buttons {
  border: 2px solid var(--color-neutral-black);
  border-radius: 1rem;
  display: flex;
}

.plans__divider {
  width: 2px;
  background-color: var(--color-neutral-black);
}

.plans__button {
  padding: 0.5rem 1rem;
  width: 10ch;
  text-align: center;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-neutral-white);
}

.plans__button:first-of-type {
  border-radius: 1rem 0 0 1rem;
}

.plans__button:last-of-type {
  border-radius: 0 1rem 1rem 0;
}

.plans__radio {
  display: none;
}

.plans__radio:checked + .plans__button {
  background-color: var(--color-secondary-orange);
  color: var(--color-neutral-white);
}

.plans__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  box-sizing: border-box;
}

.plans__item {
  max-width: 17.5rem;
  width: 100%;
  background-color: var(--color-secondary-orange);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  clip-path: polygon(50% 0%, 100% 0, 98% 78%, 100% 100%, 0 100%, 2% 23%, 0 0);
}

.plans__item-title {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 145%;
  letter-spacing: 0.02em;
}

.plans__item-price {
  font-family: var(--font-family-montserrat);
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-black);
}

.plans__item-features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.plans__item-feature {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 145%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-black);
  list-style-type: none;
}

.plans__item-button {
  background-color: var(--color-neutral-white);
  border-radius: 10px;
  padding: 1rem 3rem;
  font-family: var(--font-family-montserrat);
  font-weight: 900;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;

  clip-path: polygon(
    22% 6%,
    68% 4%,
    100% 0,
    100% 100%,
    62% 93%,
    22% 95%,
    0 97%,
    0 3%
  );
}

/* /plans */

/* promo */
.promo {
  padding: 2rem 0;
}

.promo .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.promo__texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 25rem;
}

.promo__title {
  font-family: var(--font-family-permanent-marker);
  font-weight: 400;
  font-size: 2.875rem;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-black);
}

.promo__description {
  font-family: var(--font-family-montserrat);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-brown);
}

.promo__buttons {
  gap: 1.5rem;
}

.promo__button {
  background-color: var(--color-secondary-red);
  color: var(--color-neutral-white);
}

.promo__button:hover {
  background-color: var(--color-neutral-white);
  color: var(--color-secondary-red);
}

.promo__form {
  background-color: var(--color-neutral-white);
  max-width: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid var(--color-neutral-black);
}

.promo__form-title {
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-secondary-red);
}

.promo__form-input {
  border: 1px solid var(--color-neutral-black);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.promo__form-input,
.promo__form-input::placeholder {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 145%;
  letter-spacing: 0.02em;
}

.promo__form-checkbox-label {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 145%;
  letter-spacing: 0.02em;
}

.promo__form-button {
  padding: 0.5rem 2rem;
  background-color: var(--color-secondary-orange);
  border-radius: 0.5rem;
  cursor: pointer;
}

.promo__form-button-text {
  font-family: var(--font-family-montserrat);
  font-weight: 900;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-neutral-white);
}

@media screen and (max-width: 710px) {
  .promo .container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .promo__buttons {
    flex-direction: column;
  }

  .promo__button {
    justify-content: center;
  }
}
/* /promo */

/* footer */
.footer {
  padding: 2rem 0;
  background-color: var(--color-primary-purple);
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer__links {
  display: flex;
  gap: 1rem;
}

.footer__link {
  list-style-type: none;
}

.footer__link-text {
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--color-neutral-white);
}

.footer__buttons {
  max-width: 26.5rem;
}

.footer__button {
  background-color: var(--color-secondary-orange);
  color: var(--color-neutral-white);
}

.footer__button:hover {
  background-color: var(--color-neutral-white);
  color: var(--color-secondary-orange);
}

@media screen and (max-width: 900px) {
  .footer .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .footer__buttons {
    flex-direction: column;
  }

  .footer__button {
    justify-content: center;
  }
}
/* /footer */
